.git
.github
.idea
.vscode
.cursor
.codex
.phpunit.cache
.phpactor.php
*.md
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/hot
public/build
public/storage
tests
